.html
{
	background: #7F7F7F url("../images/bg2.jpg") no-repeat center top fixed;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 525px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: 327px;
}

#fablab
{
	position: relative;
}

#menuu69
{
	z-index: 52;
	width: 745px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	position: fixed;
	top: 16px;
	left: 108px;
}

#u144
{
	width: 184px;
	min-height: 46px;
	position: relative;
	margin-right: -10000px;
}

#u145
{
	width: 178px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: #603813;
	padding-bottom: 23px;
	position: relative;
}

#u145:hover
{
	background-color: #999999;
	width: 178px;
	min-height: 0px;
	margin: 0px;
}

#u145:active
{
	background-color: #6B6B6B;
	width: 178px;
	min-height: 0px;
	margin: 0px;
}

#u145.MuseMenuActive
{
	background-color: #754C24;
	width: 178px;
	min-height: 0px;
	margin: 0px;
}

#u147-4
{
	width: 178px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 11px;
}

#u145:hover #u147-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u145:active #u147-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u151
{
	width: 185px;
	min-height: 46px;
	position: relative;
	margin-right: -10000px;
	left: 186px;
}

#u154
{
	width: 179px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: #603813;
	padding-bottom: 23px;
	position: relative;
}

#u154:hover
{
	background-color: #999999;
	width: 179px;
	min-height: 0px;
	margin: 0px;
}

#u154:active
{
	background-color: #6B6B6B;
	width: 179px;
	min-height: 0px;
	margin: 0px;
}

#u155-4
{
	width: 179px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 11px;
}

#u145.MuseMenuActive #u147-4,#u154:hover #u155-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u154:active #u155-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u209
{
	width: 185px;
	min-height: 46px;
	position: relative;
	margin-right: -10000px;
	left: 373px;
}

#u212
{
	width: 179px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: #603813;
	padding-bottom: 23px;
	position: relative;
}

#u212:hover
{
	background-color: #999999;
	width: 179px;
	min-height: 0px;
	margin: 0px;
}

#u212:active
{
	background-color: #6B6B6B;
	width: 179px;
	min-height: 0px;
	margin: 0px;
}

#u214-4
{
	width: 179px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 11px;
}

#u154.MuseMenuActive #u155-4,#u212:hover #u214-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u212:active #u214-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u216
{
	width: 185px;
	min-height: 46px;
	position: relative;
	margin-right: -10000px;
	left: 560px;
}

#u219
{
	width: 179px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: #603813;
	padding-bottom: 23px;
	position: relative;
}

#u219:hover
{
	background-color: #999999;
	width: 179px;
	min-height: 0px;
	margin: 0px;
}

#u219:active
{
	background-color: #6B6B6B;
	width: 179px;
	min-height: 0px;
	margin: 0px;
}

#u154.MuseMenuActive,#u212.MuseMenuActive,#u219.MuseMenuActive
{
	background-color: #754C24;
	width: 179px;
	min-height: 0px;
	margin: 0px;
}

#u220-4
{
	width: 179px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 11px;
}

#u212.MuseMenuActive #u214-4,#u219:hover #u220-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u219:active #u220-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u219.MuseMenuActive #u220-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u145.MuseMenuActive #u147-4 p,#u154.MuseMenuActive #u155-4 p,#u212.MuseMenuActive #u214-4 p,#u219.MuseMenuActive #u220-4 p
{
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u254
{
	z-index: 17;
	width: 820px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.52);
	margin-top: 58px;
	position: relative;
	padding: 46px 70px 63px 69px;
	-pie-background: rgba(255, 255, 255, 0.52);
}

#u255
{
	z-index: 19;
	width: 820px;
	position: relative;
}

#u257-4
{
	z-index: 21;
	width: 576px;
	min-height: 341px;
	line-height: 29px;
	font-size: 24px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-left: 122px;
	margin-top: 34px;
	position: relative;
}

#u242
{
	z-index: 2;
	width: 434px;
	position: fixed;
	top: 330px;
	left: 761px;
}

#f4t2013
{
	margin-left: 3px;
	margin-top: 49px;
	position: relative;
}

#u262
{
	z-index: 25;
	width: 910px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.52);
	margin-top: 111px;
	position: relative;
	padding: 22px 25px 31px 24px;
	-pie-background: rgba(255, 255, 255, 0.52);
}

#u263-4
{
	z-index: 26;
	width: 293px;
	min-height: 51px;
	line-height: 36px;
	font-size: 30px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
}

#u264-4
{
	z-index: 30;
	width: 910px;
	min-height: 221px;
	line-height: 29px;
	font-size: 24px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-top: 5px;
	position: relative;
}

#u273
{
	z-index: 4;
	width: 184px;
	position: fixed;
	top: 1106px;
	left: -168px;
}

#f4t2014
{
	margin-top: 68px;
	position: relative;
}

#u277
{
	z-index: 6;
	width: 184px;
	position: fixed;
	top: 1428px;
	left: 946px;
}

#u265
{
	z-index: 39;
	width: 910px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.52);
	margin-top: 92px;
	position: relative;
	padding: 18px 25px 35px 24px;
	-pie-background: rgba(255, 255, 255, 0.52);
}

#u266-4
{
	z-index: 40;
	width: 293px;
	min-height: 51px;
	line-height: 36px;
	font-size: 30px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
}

#u267-4
{
	z-index: 44;
	width: 910px;
	min-height: 221px;
	line-height: 29px;
	font-size: 24px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-top: 5px;
	position: relative;
}

#u280
{
	z-index: 8;
	width: 184px;
	position: fixed;
	top: 1827px;
	left: -220px;
}

#anmeldung
{
	margin-top: 70px;
	position: relative;
}

#u270
{
	z-index: 34;
	width: 910px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.52);
	margin-top: 92px;
	position: relative;
	padding: 19px 25px 37px 24px;
	-pie-background: rgba(255, 255, 255, 0.52);
}

#u271-4
{
	z-index: 35;
	width: 361px;
	min-height: 51px;
	line-height: 36px;
	font-size: 30px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
}

#u272-4
{
	z-index: 48;
	width: 910px;
	min-height: 221px;
	line-height: 29px;
	font-size: 24px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-top: 13px;
	position: relative;
}

.js #u264-4.ose_pre_init,.js #u267-4.ose_pre_init,.js #u272-4.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u283
{
	z-index: 10;
	width: 184px;
	position: fixed;
	top: 2145px;
	left: 868px;
}

#u286
{
	z-index: 12;
	width: 184px;
	position: fixed;
	top: 2467px;
	left: -28px;
}

body
{
	padding-top: 36px;
	padding-bottom: 56px;
}

#page .verticalspacer
{
	clear: both;
}

